.price-card {
  width: 380px;
  padding: 30px 0 42px 0;
  background-color: $color-darkgrey;
  margin-right: 15px;
  overflow: hidden;
  position: relative;
  &:last-child {
    margin-right: 0;
  }
  &__price {
    padding: 18px 0;
    font-weight: 700;
    font-size: 55px;
    line-height: 67px;
    text-align: center;
    margin: 0;
    margin-top: 36px;
  }
  &__description {
    margin: 0;
    margin-top: 39px;
    padding: 0 26px;
    line-height: 18px;
    text-align: center;
    display: inline-block;
  }
  &__options-list {
    margin: 0;
    margin-top: 42px;
    padding: 0;
    list-style-type: none;
    &__item {
      font-weight: 300;
      background-position: left 22.25px center;
      background-repeat: no-repeat;
      padding: 16px 21.33px 16px 58.66px;
      line-height: 18px;
    }
    &__item:nth-child(odd) {
      background-color: $color-very-darkgrey;
    }
  }
}
.price-card-wrap-for-title, .price-card-wrap-for-button {
  text-align: center;
  .price-card__title {
    display: inline-block;
    font-weight: 700;
    font-size: 35px;
    line-height: 43px;
    text-align: center;
    margin: 0;
  }
  .price-card__subtitle {
    font-weight: normal;
    text-align: center;
    font-size: 20px;
    line-height: 20px;
    margin: 0;
    font-weight: normal;
  }
}
.price-card__order-btn {
  display: inline-block;
  margin: 37px auto 0 auto;
  padding: 12px 26.74px 12px 27.98px;
  border-radius: 20px;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  border: none;
  outline: none;
  color: $color-white;
  text-transform: uppercase;
  letter-spacing: 0.7px;
}
.basic {
  .price-card__price {
    background-color: $color-green;
  }
  .price-card__options-list__item {
    background-image: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_green.png");
  }
  .price-card__order-btn {
    background-color: $color-green;
  }
}
.business {
  .price-card__price {
    background-color: $color-blue;
  }
  .price-card__options-list__item {
    background-image: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_blue.png");
  }
  .price-card__order-btn {
    background-color: $color-blue;
  }
  .price-card__stiker {
    position: absolute;
    background-color: $color-red;
    font-weight: bold;
    font-size: 14px;
    width: 147.8px;
    height: 25.01px;
    text-align: center;
    line-height: 25.01px;
    right: -30px;
    top: 30px;
    transform: rotate(45deg);
    text-transform: uppercase;
  }
}
.webshop {
  .price-card__price {
    background-color: $color-orange;
  }
  .price-card__options-list__item {
    background-image: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_orange.png");
  }
  .price-card__order-btn {
    background-color: $color-orange;
  }
}
