$color-black: #000;
$color-white: #fff;
$color-green: #5BB189;
$color-blue: #3A6BA5;
$color-orange: #EC632A;
$color-red: #DC3F45;
$color-darkgrey:#334247;
$color-very-darkgrey:#2A3438;


$text-font-family: Montserrat;

