$color-black: #000;
$color-white: #fff;
$color-green: #5bb189;
$color-blue: #3a6ba5;
$color-orange: #ec632a;
$color-red: #dc3f45;
$color-darkgrey: #334247;
$color-very-darkgrey: #2a3438;

$text-font-family: Montserrat;
